@charset "UTF-8";

body {
    background-image: linear-gradient(to left, rgb(190, 190, 241), rgb(127, 127, 168));
    background-attachment: fixed;
}

h1 {
    color: rgb(28, 2, 53);
}

#mainTitle {
    background-color: rgb(28, 2, 53);
    color: white;
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 50px;
}

.basic {
    color: rgb(74, 2, 141);
}

.medium {
    color: rgb(2, 11, 141);
}

.advanced {
    color: rgb(141, 2, 2);
    background-color:rgba(74, 2, 141, 0.137);
}