@charset "UTF-8";

body {
    font-family: monospace;
}

table {
    margin: auto;
    border: 3px solid rgb(0, 0, 85);
    border-collapse: collapse;
}

td {
    padding: 2px;
    width: 90px;
    height: 70px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.3em;
}

td:hover {
    background-color: rgb(119, 150, 67);
    font-weight: bolder;
    color: white;
    font-size: 2em;
}

.col1:hover {
    text-align: left;
    vertical-align: middle;
}

.col2:hover {
    text-align: center;
    vertical-align: middle;
}

.col3:hover {
    text-align: right;
    vertical-align: middle;
}

#linha01 {
    background-color: rgb(157, 157, 226);
}

#linha02 {
    background-color: rgb(99, 99, 228);
}

#linha03 {
    background-color: rgb(31, 31, 216);
    color: white;
}

#linha04 {
    background-color: rgb(4, 4, 161);
    color: white;
}