@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    text-align: center;
    border-collapse: collapse;
}

caption {
    background-color: rgb(240, 187, 89);
    font-size: 1.2em;
    padding: 5px;
    font-weight: bolder;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.nome {
    background-color: rgb(255, 112, 60);
}

.time {
    background-color: rgb(250, 96, 39);
}

.idade {
    background-color: rgb(255, 68, 0);
}

.filme_pers {
    background-color: rgb(165, 44, 0);
}