@charset "UTF-8";

:root {
    --cor1: rgb(85, 92, 78);
    --cor2: rgb(54, 54, 184);
    --cor3: rgb(196, 26, 26);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.configBas {
    background-color: var(--cor1);
    color: white;
}

.aprovado {
    color: var(--cor2);
    font-size: 1.1em;
}

.reprovado {
    color: var(--cor3);
    font-size: 1.1em;
}